---
layout: layout.liquid
title: Home
---

<h1>Adventures of a Lone Star <strong>Explorer</strong></h1>
<ul class="posts">
    <li><a href="/blog1/" title="Day 45">Day 45</a>
        <p>A Solo Trip to Alpha Centauri…and the Things I Forgot to Pack</p>
    </li>
    <li><a href="/blog2/" title="Day 67">Day 67</a>
        <p>Why I Should Never Be Trusted with an Alien Planet</p>
    </li>
</ul>
{% user 'Captain Greg Faraday' %}
<img alt="rocket" src="/images/rocket-solid.svg" width="50" />